# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# editor settings VSCode
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

.claude/

categorias-servicios-tax-notary.md
taxes-list.md
stadisticas.png
strategy-taxes.md